<header class="bg-light border-bottom py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-3 mb-sm-0">
                <!-- Title -->
                <h1 class="h4 mb-0 ls-tight">Titre de la page</h1>
            </div> 
            <!-- Actions -->
            <div class="col-sm-6 col-12 text-sm-end">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-outline-primary mx-1">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a href="#" class="btn btn-primary mx-1">
                        <i class="bi bi-plus"></i> Nouveau
                    </a>
                </div>
            </div>
        </div>
        <!-- Nav -->
        <ul class="nav nav-tabs mt-4 overflow-x border-0">
            <li class="nav-item">
                <a class="nav-link active" href="#" (click)="toggleAfficheGlobal()">Vue d'ensemble</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheDepot()">Etat de dépôt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheProduit()">Etat des produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheStock()">Etat du stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheEntree()">Etat des entrées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheSortie()">Etat des sorties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="toggleAfficheInventaire()">Etat des inventaires</a>
            </li>
        </ul>
    </div>
</header>
