

<div>
          


         
 
        <h3 class="titre-inventaire">Le Depot {{ this.nomDepot }} ( code de depot : {{ this.codeDepot }} ) subit les inventaires suivantes :
            
            <button mat-icon-button class="mat-icon-button-back" (click)="retourListeDepots()">
                <mat-icon class="mat-icon-back">arrow_back</mat-icon>
              </button>
        </h3>

<table mat-table [dataSource]="inventaires">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.id }}</td>
    </ng-container>
  
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.code }}</td>
    </ng-container>
  
    <!-- Produit Column -->
    <ng-container matColumnDef="produit">
      <th mat-header-cell *matHeaderCellDef>Produit</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.produit }}</td>
    </ng-container>
  
    <!-- Quantité Column -->
    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.quantite }}</td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.date }}</td>
    </ng-container>
  
    <!-- Depot Column -->
    <ng-container matColumnDef="depot">
      <th mat-header-cell *matHeaderCellDef>Dépôt</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.depot }}</td>
    </ng-container>
  
    <!-- Code d'inventaire Column -->
    <ng-container matColumnDef="codeInventaire">
      <th mat-header-cell *matHeaderCellDef>Code d'inventaire</th>
      <td mat-cell *matCellDef="let inventaire">{{ inventaire.codeInventaire }}</td>
    </ng-container>
  
    <!-- Tableau Rows -->
    <tr mat-header-row *matHeaderRowDef="['id', 'code', 'produit', 'quantite', 'date', 'depot', 'codeInventaire']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'code', 'produit', 'quantite', 'date', 'depot', 'codeInventaire']"></tr>
  </table>
  

  </div>