.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
 }
 .hero-section {
    background-image: linear-gradient(to right, #006699, #66ccff);
    text-align: center;
    padding: 80px 0;
  }
  
  