<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer   class="sidenav mat-primary"  fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" style="width: 300px;">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" class="custom-list-item">
        <mat-icon class="mat-primary">home</mat-icon>
        <span style="margin-left: 8px;">Accueil</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/app-users" class="custom-list-item">
        <mat-icon class="mat-primary">person_pin</mat-icon>
        <span style="margin-left: 8px;">Utilisateurs</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/app-depots" class="custom-list-item">
        <mat-icon class="mat-primary">storage</mat-icon>
        <span style="margin-left: 8px;">Dépôts</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/app-articles" class="custom-list-item">
        <mat-icon class="mat-primary">inventory_2</mat-icon>
        <span style="margin-left: 8px;">Articles</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/app-entrees/app-create-entrees" class="custom-list-item">
        <mat-icon class="mat-primary">shopping_cart</mat-icon>
        <span style="margin-left: 8px;">Achats</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/home" class="custom-list-item">
        <mat-icon class="mat-primary">receipt_long</mat-icon>
        <span style="margin-left: 8px;">Ventes</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/home" class="custom-list-item">
        <mat-icon class="mat-primary">track_changes</mat-icon>
        <span style="margin-left: 8px;">Inventaire</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/home" class="custom-list-item">
        <mat-icon class="mat-primary">history</mat-icon>
        <span style="margin-left: 8px;">Historique des ventes</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/app-qr-codes">
        <mat-icon class="mat-primary">qr_code_2</mat-icon>
        <span style="margin-left: 8px;">QR Codes</span>
      </a>

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Application de Gestion de Stock</span>
    </mat-toolbar>
    <div class="content">
      <!-- Contenu de l'application -->

      <router-outlet></router-outlet>


    </div>
 
    
  </mat-sidenav-content>
</mat-sidenav-container>





