
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-header">
            Total des ventes
          </div>
          <div class="card-body">
            <h4 class="card-title">DT50,000</h4>
            <p class="card-text">Total des ventes ce mois-ci</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-header">
            Total des achats
          </div>
          <div class="card-body">
            <h4 class="card-title">DT20,000</h4>
            <p class="card-text">Total des achats ce mois-ci</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-header">
            Produits en stock
          </div>
          <div class="card-body">
            <h4 class="card-title">DT500</h4>
            <p class="card-text">Nombre total de produits en stock</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-header">
            Total des dépôts
          </div>
          <div class="card-body">
            <h4 class="card-title">DT100,000</h4>
            <p class="card-text">Total des dépôts ce mois-ci</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
