 

 
	<div class="container-fluid">
		<div class="row">
			<!-- Diagramme de suivi du stock -->
			<div class="col-md-12">
				<h3>Diagramme de suivi du stock</h3>
				<canvas id="suiviStockChart"></canvas>
			</div>
		</div>
	</div>

	<!-- Script pour initialiser le diagramme -->
	<script>
		// Diagramme de suivi du stock
		var suiviStockChart = new Chart(document.getElementById("suiviStockChart"), {
			type: 'line',
			data: {
				labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet"],
				datasets: [{
					label: "Stock restant",
					fill: false,
					lineTension: 0.1,
					backgroundColor: "rgba(75,192,192,0.4)",
					borderColor: "rgba(75,192,192,1)",
					borderCapStyle: 'butt',
					borderDash: [],
					borderDashOffset: 0.0,
					borderJoinStyle: 'miter',
					pointBorderColor: "rgba(75,192,192,1)",
					pointBackgroundColor: "#fff",
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: "rgba(75,192,192,1)",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: [100, 80, 60, 50, 30, 20, 10],
					spanGaps: false,
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				}
			}
		});
	</script>
 