<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité</th>
      
        <th>Catégorie</th>
        <th>Date d'ajout</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of getArticlesForPage()   " (click)="displayCodeBar(article)">
        <td>{{ article.id }}</td>
        <td>{{ article.nom }}</td>
        <td>{{ article.description }}</td>
        <td>{{ article.prix }}</td>
        <td>{{ article.quantite }}</td>
      
        <td>{{ article.categorie }}</td>
        <td>{{ article.dateAjout  | date }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="qr-code-container">
    <canvas id="qr-code"></canvas>
  </div>

  <div class="pagination">
    <button *ngFor="let page of pages()" [class.active]="currentPage === page" (click)="currentPage = page">
      {{ page }}
    </button>
  </div>
   
  
  <style>
    .qr-code-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  
    #qr-code {
      height: 200px;
      width: 200px;
    }
  </style>
  
  <script>
    // Récupération du canvas et du contexte de dessin
    const canvas = document.getElementById("qr-code");
    const ctx = canvas.getContext("2d");
  
    function displayQrCode(articleId) {
      // Recherche de l'article correspondant à l'ID cliqué
      const article = getArticleById(articleId);
  
      // Configuration des paramètres du code QR
      const qr = qrcode(0, "L");
      qr.addData(article.id);
      qr.make();
  
      // Génération du code QR avec le module qrcode-generator
      const cellSize = 2;
      const margin = 2;
      const size = qr.getModuleCount() * cellSize + 2 * margin;
      canvas.width = size;
      canvas.height = size;
  
      const cells = qr.modules;
      cells.forEach((row, rowIndex) => {
        row.forEach((cell, columnIndex) => {
          if (cell) {
            ctx.fillRect(
              margin + columnIndex * cellSize,
              margin + rowIndex * cellSize,
              cellSize,
              cellSize
            );
          }
        });
      });
    }
  
    function getArticleById(articleId) {
      // Recherche de l'article dans la liste
      return articles.find((article) => article.id === articleId);
    }
  </script>