
<app-layout></app-layout>



<!-- <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <app-sidebar></app-sidebar>
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <app-header-dashboard></app-header-dashboard>
 
    <ng-container *ngIf="afficheDashboardGlobal">
      <app-global-dashboard></app-global-dashboard>
    </ng-container>


    <ng-container *ngIf="afficheDashboardDepot">
      <app-depot-dashboard></app-depot-dashboard>
    </ng-container>

    <ng-container *ngIf="afficheDashboardProduit">
      <app-produit-dashboard></app-produit-dashboard>
    </ng-container>


    <ng-container *ngIf="afficheDashboardStock">
      <app-stock-dashboard></app-stock-dashboard>
    </ng-container>


    <ng-container *ngIf="afficheDashboardEntree">
      <app-entree-dashboard></app-entree-dashboard>
    </ng-container>


    <ng-container *ngIf="afficheDashboardSortie">
      <app-sortie-dashboard></app-sortie-dashboard>
    </ng-container>

    <ng-container *ngIf="afficheDashboardInventaire">
      <app-inventaire-dashboard></app-inventaire-dashboard>
    </ng-container>


  </div>
</div> -->